<form action="/edit/<%= employee.id %>" method="POST">

<link rel="stylesheet" href="/style.css">
<!-- NAME -->
<div class="form-group">
<label>Name</label>
<input type="text" name="name"
value="<%= employee.name %>" required>
</div>

<!-- PROFILE IMAGE -->
<div class="form-group">
<label>Profile Image</label>

<div class="avatar-group">

<label>
<input type="radio" name="image" value="1"
<%= employee.image == "1" ? "checked" : "" %>>
<img src="https://randomuser.me/api/portraits/women/1.jpg">
</label>

<label>
<input type="radio" name="image" value="2"
<%= employee.image == "2" ? "checked" : "" %>>
<img src="https://randomuser.me/api/portraits/men/2.jpg">
</label>

<label>
<input type="radio" name="image" value="3"
<%= employee.image == "3" ? "checked" : "" %>>
<img src="https://randomuser.me/api/portraits/women/3.jpg">
</label>

<label>
<input type="radio" name="image" value="4"
<%= employee.image == "4" ? "checked" : "" %>>
<img src="https://randomuser.me/api/portraits/men/4.jpg">
</label>

</div>
</div>

<!-- GENDER -->
<div class="form-group">
<label>Gender</label>

<div class="group">
<label>
<input type="radio" name="gender" value="Male"
<%= employee.gender == "Male" ? "checked" : "" %>>
Male
</label>

<label>
<input type="radio" name="gender" value="Female"
<%= employee.gender == "Female" ? "checked" : "" %>>
Female
</label>

<label>
<input type="radio" name="gender" value="Others"
<%= employee.gender == "Others" ? "checked" : "" %>>
Others
</label>
</div>
</div>

<!-- DEPARTMENT -->
<div class="form-group">
<label>Department</label>

<select name="department" required>

<option value="Sales"
<%= employee.department === "Sales" ? "selected" : "" %>>
Sales</option>

<option value="HR"
<%= employee.department === "HR" ? "selected" : "" %>>
HR</option>

<option value="Engineering"
<%= employee.department === "Engineering" ? "selected" : "" %>>
Engineering</option>

<option value="Finance"
<%= employee.department === "Finance" ? "selected" : "" %>>
Finance</option>

<option value="Marketing"
<%= employee.department === "Marketing" ? "selected" : "" %>>
Marketing</option>

</select>
</div>

<!-- SALARY -->
<div class="form-group">
<label>Salary</label>
<input type="number" name="basicSalary"
value="<%= employee.basicSalary %>" required>
</div>

<!-- NOTES -->
<div class="form-group">
<label>Notes</label>
<input type="text" name="notes"
value="<%= employee.notes %>">
</div>

<!-- BUTTONS -->
<div class="button-group">
<a href="/" class="cancel-btn">Back</a>
<button type="submit" class="submit-btn">
Update Employee
</button>
</div>

</form>